* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    color: #212121;
}
body {
    background-image: url("images/main_back_3.png");
    background-size: cover;
    background-position: top right;
    background-attachment: fixed;
}

/*    모바일*/
@media(max-width: 767px){
    .nav {
        height: 300px;
        
    }
   
    #logo {
        text-decoration: none;
        line-height: 55px;
        text-align: center;    
    }
    #logo h1 {
        font-size: 20px;
    }
    .nav a {
        color: #212121;
    }
    .nav ul {
        list-style: none;
        width: 90%;
        margin: 0 auto;
        
        text-align: center;
        
        
    }
    .nav li {
        
        
    }
    .nav li a {
        text-decoration: none;
        color: #212121;
        font-size: 18px;
        display: block;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        margin: 10px auto;
        border-radius: 7px;
        box-shadow: 0px 7px 8px 4px rgba(50,50,50,0.7);
        background-color: white;
    }
    .nav li a:hover{
        background-color: #455BE3;
        color: white;
        font-size: 20px;
        padding: 12px;
    }
    .back {
        width: 90%;
        margin: 0 auto; 
        height: 90%;  
        border-radius: 7px;
        box-shadow: 0px 7px 8px 4px rgba(50,50,50,0.7);
        background-color: white;
        margin-bottom: 60px;
        position: relative;
    }
    .context {
        padding-left: 70px;
        padding-top: 100px;
        float: left;
        width: 80%;
        position: relative;
    }
    .context h1 {
        font-size: 40px;
        text-align: left;
        
    }
    .context h5 {
        font-size: 22px; 
    }
    
    .emphasize {
        font-size: 50px;
        font-weight: bold;
        position: relative;
        right: 30px;
        top: 30px;
        color: #455BE3;
    }
    .emphasize_1 {
        font-size: 50px;
        font-weight: bold;
        position: relative;
        left: 300px;
        bottom: 10px;
        color: #455BE3;
    }
    .back img {
        width: 100%;
        margin-top: 50px;
        float: right;
        
    }
    .main:after {
        content: '';
        display: block;
        clear: both;
    }
    .big_story {
        padding-top: 130px;
        margin: 0 auto;
        width: 80%;
        overflow: hidden;
        
    }
    .story { 
        margin-right: 100px;
        margin: 0 auto;
        margin-bottom: 300px;
        overflow: hidden;
    }
    .story h1 {
        font-size: 30px;
        margin-bottom: 30px;
    }
    .story p {
        width: 200px;
        font-size: 12px;
    }
    .story img {
        width: 60%;
        float: right;
    }
    .experience {
        margin-top: 100px;
        text-align: right;
        padding: 20px;
        padding-left: 60px;
        display: inline-block;
        background-color: #455BE3;
        border-radius: 0 7px 7px 0;
        position: absolute;
        left: 0;
        bottom: 50px;
        
    
    }
    .experience h1 {
        font-size: 30px;
        margin-bottom: 30px;
        color: white;
    }
    .experience p {
        color: white;
        font-size: 12px;
    }
}
/*테블릿*/
@media(min-width: 768px) and (max-width: 1023px) {
    .nav {
        height: 50px;
        
    }
    .nav h1 {
        font-size: 18px;
        margin-left: 80px;
        line-height: 50px;
        display: inline-block;
    }
    .nav a {
        color: #212121;
    }
    .nav ul {
        float: right;
        list-style: none;
        line-height: 50px;
        position: absolute;
        right: 80px;
        top: 0;
    }
    .nav li {
        float: left;
        
    }
    .nav li a {
        text-decoration: none;
        color: #212121;
        font-size: 16px;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0 0 10px 10px;
    }
    .nav li a:hover {
        background-color: #455BE3;
        color: white;
        line-height: 60px;
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .back {
        width: 90%;
        margin: 0 auto; 
        overflow: hidden;  
        border-radius: 7px;
        box-shadow: 0px 7px 8px 4px rgba(50,50,50,0.7);
        background-color: white;
        margin-bottom: 60px;
        
    }
    .context {
        padding-left: 100px;
        padding-top: 80px;
        float: left;
        width: 60%;
        position: relative;
    }
    .context h1 {
        font-size: 60px;
        text-align: left;
        
    }
    .context h5 {
        font-size: 22px; 
    }
    
    .emphasize {
        font-size: 60px;
        font-weight: bold;
        position: relative;
        right: 50px;
        top: 30px;
        color: #455BE3;
    }
    .emphasize_1 {
        font-size: 60px;
        font-weight: bold;
        position: relative;
        left: 430px;
        bottom: 10px;
        color: #455BE3;
    }
    .back img {
        width: 55%;
        margin-top: 50px;
        float: right;
        
    }
    .main:after {
        content: '';
        display: block;
        clear: both;
    }
    .big_story {
        padding-top: 130px;
        margin: 0 auto;
        width: 80%;
        overflow: hidden;
        
    }
    .story { 
        margin-right: 100px;
        margin: 0 auto;
        margin-bottom: 400px;
        position: relative;
    }
    .story h1 {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .story p {
        width: 300px;
        font-size: 14px;
    }
    .story img {
        width: 40%;
        position: absolute;
        top: 10%;
        right: 5%;
    }
    .danger {
        width: 100%;
        height: 100px;;
        position: relative;
        
        
    }
    .experience {
        
        text-align: right;
        padding: 10px;
        padding-left: 200px;
        display: inline-block;
        background-color: #455BE3;
        border-radius: 0 7px 7px 0;
        position: absolute;
        bottom: 50%;
        left: 0;
        
        
    
    }
    .experience h1 {
        font-size: 40px;
        margin-bottom: 40px;
        color: white;
    }
    .experience p {
        color: white;
        font-size: 14px;
    }
}
/*데스크탑*/
@media(min-width: 1024px) {
    .nav {
        height: 55px;
        
    }
    .nav h1 {
        font-size: 20px;
        margin-left: 140px;
        line-height: 55px;
        display: inline-block;
    }
    .nav a {
        color: #212121;
    }
    .nav ul {
        float: right;
        list-style: none;
        line-height: 55px;
        margin-right: 50px;
        position: absolute;
        right: 100px;
        top: 0;
    }
    .nav li {
        float: left;
        
    }
    .nav li a {
        text-decoration: none;
        color: #212121;
        font-size: 18px;
        display: block;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 0 0 10px 10px;
    }
    .nav li a:hover {
        background-color: #455BE3;
        color: white;
        line-height: 70px;
        font-size: 20px;
        padding-left: 12px;
        padding-right: 12px;
        
    }
    
    .back {
        width: 90%;
        margin: 0 auto; 
        height: 2000px;  
        border-radius: 7px;
        box-shadow: 0px 7px 8px 4px rgba(50,50,50,0.7);
        background-color: white;
        margin-bottom: 60px;
        
        
    }
    .context {
        padding-left: 140px;
        padding-top: 120px;
        float: left;
        width: 650px;
        position: relative;
    }
    .context h1 {
        font-size: 70px;
        text-align: left;
        
    }
    .context h5 {
        font-size: 22px; 
    }
    
    .emphasize {
        font-size: 60px;
        font-weight: bold;
        position: relative;
        right: 50px;
        top: 30px;
        color: #455BE3;
    }
    .emphasize_1 {
        font-size: 60px;
        font-weight: bold;
        position: relative;
        left: 480px;
        bottom: 10px;
        color: #455BE3;
    }
    .back img {
        width: 55%;
        margin-top: 100px;
        float: right;
        
    }
    .main:after {
        content: '';
        display: block;
        clear: both;
    }
    .big_story {
        padding-top: 180px;
        margin: 0 auto;
        width: 80%;
       
        
    }
    .story { 
        margin-right: 200px;
        position: relative;
        
    }
    .story h1 {
        font-size: 50px;
        margin-bottom: 40px;
        
    }
    .story p {
        width: 400px;
        font-size: 15px;
    }
    .story img {
        width: 40%;
        position: absolute;
        top: 10%;
        right: 5%;
    }
    .danger {
        width: 100%;
        
        height: 40%;
        position: relative;
        
        
    }
    .experience {
        
        text-align: right;
        padding: 50px;
        padding-left: 400px;
        display: inline-block;
        background-color: #455BE3;
        border-radius: 0 7px 7px 0;
        position: absolute;
        bottom: 20%;
        left: 0;
        
        
    
    }
    .experience h1 {
        font-size: 50px;
        margin-bottom: 40px;
        color: white;
    }
    .experience p {
        color: white;
        font-size: 15px;
    }
}